pyperclip
playwright
PyYAML
pytest
pytest-playwright
python-dotenv
pandas
openpyxl
opencv-python
numpy
langchain-core
langchain-openai
langchain-community
langgraph
streamlit
customtkinter
Pillow
sqlglot
psycopg2-binary
